@model MeyawoPortfolio.Models.TblProjects
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/_Layout1.cshtml";
}




<h2>Yeni Guncelleme Sayfası</h2>

<form method="post">

    <label>Proje ID</label>
    <input type="text" class="table table-bordered" value="@Model.ProjectID" name="ProjectID" />
    <br />
    <label>Proje</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "table table-bordered" })

    <br />
    <label>Github Linki</label>
    @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "table table-bordered" })

    <br />
    <label>Proje Kategorisi</label>
    @Html.DropDownListFor(x => x.ProjectCategory, (List<SelectListItem>)ViewBag.v, new { @class = "table table-bordered" })

    <br />
    <label>Acıklama</label>
<textarea rows="5" class="table table-bordered" name="Description">@Model.Description</textarea>
    <br />
    <button class="btn btn-info">Guncelle</button>
</form>

